name: Rubocop

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  rubocop:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up Ruby
        uses: ruby/setup-ruby@13e7a03dc3ac6c3798f4570bfead2aed4d96abfb
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Install gems
        run: |
          # Extract the exact versions of the rubocop gems from Gemfile.lock
          rubocop_version=$(sed -n -E 's/^    rubocop \((.+)\)/\1/p' Gemfile.lock)
          rubocop_minitest_version=$(sed -n -E 's/^    rubocop-minitest \((.+)\)/\1/p' Gemfile.lock)
          rubocop_performance_version=$(sed -n -E 's/^    rubocop-performance \((.+)\)/\1/p' Gemfile.lock)

          gem install rubocop -v $rubocop_version
          gem install rubocop-minitest -v $rubocop_minitest_version
          gem install rubocop-performance -v $rubocop_performance_version

      - name: Run Rubocop
        run: rubocop --except Metrics
